header {
    position: relative;
    display: block;
    height: 120px;        
    width: 100%;
    overflow: hidden;
}


.Header__Title {
    font-size: 1.5em;
    margin: 10px 0 8px 0;
    position: relative;
    color: white;
}

.Header__Level-Number {
    position: relative;    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    margin: 0 auto; 
    border-radius: 50%;    
    color: #3297d3;
    background: white;
}

.Header__BG {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right, 
      #00bcd4,
      #3297d3 15%,
      #3297d3 15%,
      #00bcd4 85%,
      #00bcd4 85%
    );
  transform: skewY(-3deg);
  transform-origin: 0;
}

